= {{{appName}}}
{{#headerAttributes}}
{{#version}}{{{version}}}{{/version}}
:toc: left
:toc-title: Содержание
:version-label: Реализация:
:last-update-label: Дата:
:toclevels: 3
:source-highlighter: highlightjs
:keywords: openapi, rest, {{appName}}
:snippetsDir: {{snippetsDir}}
:generator-template: v1 2019-12-20
:app-name: {{appName}}
{{/headerAttributes}}

{{{description}}}
== Методы API

{{#apiInfo}}
{{#operations}}

[.{{operation.operationId}}]
=== {{operation.operationId}}

{{#operation.summary}}{{{operation.summary}}}{{/operation.summary}}

`{{httpMethod}} {{path}}`

==== Описание

{{{operation.description}}}

{{{operation.notes}}}

{{#specinclude}}{{path}}/{{httpMethod}}/spec.adoc{{/specinclude}}



{{> params}}

==== Возвращаемый тип

{{#hasReference}}
{{^returnSimpleType}}{{returnContainer}}[{{/returnSimpleType}}<<{{returnBaseType}}>>{{^returnSimpleType}}]{{/returnSimpleType}}
{{/hasReference}}

{{^hasReference}}
{{#returnType}}<<{{returnType}}>>{{/returnType}}
{{^returnType}}Отсутствует{{/returnType}}
{{/hasReference}}

{{#hasProduces}}
==== Тип содержимого

{{#produces}}
* {{{mediaType}}}
{{/produces}}
{{/hasProduces}}

==== Ответы

[%header,cols=3*]
|===
|Код ответа
|Описание
|Возвращаемый тип

{{#responses}}
|{{code}}
|{{message}}
|{{^simpleType}}
{{#hasReference}}
{{^returnSimpleType}}{{returnContainer}}[{{/returnSimpleType}}<<{{returnBaseType}}>>{{^returnSimpleType}}]{{/returnSimpleType}}
{{/hasReference}}
{{/simpleType}}
{{#simpleType}}{{#dataType}}<<{{dataType}}>>{{/dataType}}{{^dataType}}Отсутствует{{/dataType}}{{/simpleType}}
{{/responses}}
|===

==== Спецификация операции
include::{{snippetsDir}}/{{nickname}}.adoc[]

{{/operations}}
{{/apiInfo}}

{{> model}}
