[cols="3,1"]
|===
| Описание| Обязательный

| {{description}}
^| {{^required}}-{{/required}}{{#required}}X{{/required}}

|===


[cols="2"]
|===
| Формат| Тип

{{#requestContent}}
| {{{key}}}

| {{{value.schema.$ref}}}
{{/requestContent}}

|===