{{#descriptions}}

===== {{name}}

{{description}}

Запрос:

include::{{snippetsDir}}/{{snippetName}}/http-request.adoc[]

Ответ:

include::{{snippetsDir}}/{{snippetName}}/http-response.adoc[]

{{/descriptions}}